<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Learning</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{{user?.name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat">Chat</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">READ</a></li>
              <li><a class="dropdown-item" href="#">BUY</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Meet</a>
          </li>
        </ul>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
         
          <li *ngIf="authService.isAuthenticated()" class="nav-item">
            <a (click)="logout()" class="nav-link">Logout</a>
          </li>
        </form>
      </div>
    </div>
  </nav> -->
  <nav  *ngIf="authService.isAuthenticated()" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Learning</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat">Chat</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meet">Meet</a>
        </li>
        </ul>
        <!-- ategories -->
        
        <div class="d-flex align-items-center">
          <span class="me-3">
            <span class="text-primary">Wellcom:</span>
            <span style="margin-left: 5px;"></span>
            <span class="text-success">{{user.email}}</span>
          </span>
          
          
          <form class="d-flex align-items-center">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button> -->
            
            <button (click)="logout()" class="btn btn-logout ms-2">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  