<!-- <nav class="navbar">
  <ul class="nav-list">
    <li *ngIf="!authService.isAuthenticated()">
      <a routerLink="/login" class="nav-link">Login</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()">
      <a routerLink="/register" class="nav-link">Register</a>
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a (click)="logout()" class="nav-link">Logout</a>
    </li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Toggle Button for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/register">Sign Up</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>




