
<app-page-admin></app-page-admin>
<div *ngIf="!selectedCourse" class="card mb-4 centered-card">
  <div class="card-header">
    <h3>Managment of Courses</h3>
  </div>
  <div class="card-body">
    <div class="form-group mb-3">
      <label for="newCourseName">Name</label>
      <input
        id="newCourseName"
        [(ngModel)]="newCourse.name"
        placeholder="Name"
        class="form-control"
        type="text"
      />
    </div>
    <div class="form-group mb-3">
      <label for="newCourseDescription">Description</label>
      <input
        id="newCourseDescription"
        [(ngModel)]="newCourse.description"
        placeholder="Description"
        class="form-control"
        type="text"
      />
    </div>
    <!-- Category Selection -->
    <div class="form-group mb-3">
      <label for="newCourseCategory">Category</label>
      <select
        id="newCourseCategory"
        [(ngModel)]="newCourse.categoryId"
        class="form-control"
      >
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- User Selection -->
    <div class="form-group mb-3">
      <label for="newCourseUser">Email of User</label>
      <select
        id="newCourseUser"
        [(ngModel)]="newCourse.ourUsersId"
        class="form-control"
      >
        <option  [value]="user.id">
          {{ user.email }}
        </option>
      </select>
    </div>
    <button class="btn btn-success" (click)="saveCourse()">Add Course</button>
  </div>
</div>
