/* You can add global styles to this file, and also import other style files */
.centered-card {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the card horizontally */
    padding: 20px; /* Add some padding inside the card */
    margin-top: 150px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow effect */
  }
  
  .card-header h3 {
    font-size: 1.5rem; /* Adjust the font size of the header */
  }
  
  .form-control {
    font-size: 0.875rem; /* Adjust the font size of the input fields */
  }
  