











  /* Centered card with shadow */












/* Général */


/* Carte centrée et réduite */
.centered-card {
  max-width: 500px; /* Diminuer la largeur de la carte */
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 40px; /* Ajouter un padding pour espacer le contenu */
 
}

/* En-tête de la carte */
.card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  
  
}

/* En-tête secondaire de la carte */
.card-header.secondary {
  background-color: #6c757d;
}

/* Champs de formulaire */
.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group select {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
}

/* Boutons */
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Liste des cours */
.list-group {
  padding: 0;
  margin: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Occuper toute la largeur disponible dans la carte */
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}

.list-group-item h5 {
  margin-bottom: 0.5rem;
}

.list-group-item p {
  margin-bottom: 0;
  color: #6c757d;
}
